{% extends 'base.html' %}
{% block content %}
        <h1>Welcome to FindMyDevice</h1>
        <p>FindMyDevice is a web based application that stores the location of your mobile device.</p>
        <img src="{{ STATIC_URL }}images/location_main.png">
        <p>All you need to do is to use our REST API! Click <a href="/api">here</a> to get API info.</p>
        <p>An Android app will be available soon!</p>
        <p>Feel free to implement apps to other devices!</p>

        <p><strong>Stay tuned!</strong></p>

        <p>The source code of this website is available on <a href="https://github.com/luisrpp/FindMyDevice">github</a>.</p>
{% endblock content %}
