{% extends 'base.html' %}
{% load url from future %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/menu.css">
{% endblock stylesheets %}

{% block content %}
    {% include "sidebar.html" %}

    <div id="content">
        {% block content_right %}
        <h1>Devices</h1>
        {% if devices %}
        <p>These are your registered devices:</p>
        <ul>
            {% for device in devices %}
            <li>{{ device.name }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>You don't have registered devices.</p>
        <p>Click here to <a href="{% url 'core:add_device' %}">add</a> a new device.</p>
        {% endif %}
        {% endblock content_right %}
    </div>
{% endblock content %}
