{% load url from future %}
{% load gravatar %}

    <div id="sidebar">
        <img src="{% gravatar user.email %}">
        <ul class="menu">
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'core:add_device' %}">Add device</a></li>
            {% if devices %}
            <li>Devices
                <ul class="submenu">
                    {% for device in devices %}
                    <li><a href="{% url 'core:device' device.pk %}">{{ device.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>