{% extends "base.html" %}
{% load url from future %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css">
{% endblock stylesheets %}

{% block content %}

        <h1>Welcome to FindMyDevice</h1>

        <img src="{{ STATIC_URL }}images/location_main.png">

<div class="login">
    <div id="container">
        <div id="header-login">
            <h1>Login</h1>
        </div>

        {% if form.errors %}
            <p id="invalid_form">Invalid username or password!</p>
        {% endif %}

        <form id="login-form" method="post">
            {% csrf_token %}
            <div class="form-row">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-row">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <div class="submit-row">
                <input type="submit" value="Log in" />
            </div>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <a href="#" id="createacc">Create an account</a>
    </div>
</div>

{% endblock content %}
