<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>

<form action="http://127.0.0.1:8000/add_location" id="location_form">
    <label>Device:</label><input type="text" name="device_id" />
    <label>Mobile ID:</label><input type="text" name="mobile_id" />
    <label>Lat:</label><input type="text" name="lat" />
    <label>Lon:</label><input type="text" name="lon" />
    <input type="submit" value="Send" />
</form>

<!-- the result of the search will be rendered inside this div -->
<div id="result"></div>

<script>
    /* attach a submit handler to the form */
    $("#location_form").submit(function(event) {

        /* stop form from submitting normally */
        event.preventDefault(); 

        /* get some values from elements on the page: */
        var $form = $( this ),
            device_id = $form.find( 'input[name="device_id"]' ).val(),
            mobile_id = $form.find( 'input[name="mobile_id"]' ).val(),
            lat = $form.find( 'input[name="lat"]' ).val(),
            lon = $form.find( 'input[name="lon"]' ).val(),
            url = $form.attr( 'action' );

        /* Send the data using post and put the results in a div */
        $.post( url, {
                device_id: device_id,
                mobile_id: mobile_id,
                lat: lat,
                lon: lon,
            },
            function( data ) {
                alert(data);
            }, 'json'
        );
    });
</script>

</body>
</html>