#sidebar {
    float: left;
    width: 120px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sidebar ul {
    font-family: arial;
    font-size: 15px;
    color: #333;
    list-style-type: none;
    padding: 10px 20px 0px 0px;
    margin: 0px;
}

#sidebar ul ul {
    font-family: arial;
    font-size: 13px;
    color: #333;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#sidebar li {
   list-style: none;
   margin-top: 5px;
   padding: 5px 0px 0px 0px;
}

#sidebar li li {
    padding: 5px 0px 0px 10px;
}

#content {
    float: right;
    width: 760px;
}
